<!-- Navigation bar-->
<div class="container ">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light title-bar ">
    <a class="navbar-brand" href="#">
      <img src="../../assets/emayyam.svg" alt="Emayyam" />
    </a>
    <div class="navbar-collapse ">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#news">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutUs">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Careers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <img
            class="nav-link"
            src="../../assets/telephone.svg"
            alt="Emayyam"
          />
        </li>
        <li class="nav-item">
          <img class="nav-link" src="../../assets/email.svg" alt="Emayyam" />
        </li>
      </ul>
    </div>
  </nav>
</div>

<!-- Main Page -->
<div class="title-page d-flex flex-column">
  <div
    class="flex-grow-1  d-flex flex-column justify-content-center main-title-section"
  >
    <h3 class="header">World class data solutions provider & Digital works</h3>
    <div class="second-header">
      Delivering more than just expected, we focus on bringing efficiency to
      businesses through innovative solutions in epub process, back office and
      voice.
    </div>
    <div class="pt-4">
      <button type="button" class="btn btn-lg ">Contact Us</button>
    </div>
  </div>
  <div class="arrow-down"><img src="../../assets/arrow-down.svg" /></div>
  <div class="back-ground"></div>
</div>
<div class="heading-one">ITES Solutions (BPO & KPO)</div>
<div class="content-one">
  Like the perfect harmony of a musical masterpiece, Emayyam Infotech offers you
  a flawless Backoffice and IT Operations service that is transparent, flexible
  and fully accountable with real time track activity. You can keep control; you
  save time and money yet remain firmly in the conductor's chair.
</div>

<!-- Services cards-->
<div class="card-md d-flex justify-content-around">
  <div class="card h-100 d-flex align-items-center">
    <img
      src="../../assets/medical-billing.svg"
      class="card-img-top"
      alt="Medical biling"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Medical Billing Services</h5>
    </div>
  </div>
  
  <div class="card h-100 d-flex align-items-center">
    <img
      src="../../assets/coding-services.svg"
      class="card-img-top"
      alt="Medical biling"
    />
    <div class="card-body text-center">
      <h5 class="card-title">Coding Services</h5>
    </div>
  </div>

  <div class="card h-100 d-flex align-items-center">
    <img
      src="../../assets/e-publishing.svg"
      class="card-img-top"
      alt="Medical biling"
    />
    <div class="card-body text-center">
      <h5 class="card-title">E - Publishing Services</h5>
    </div>
  </div>
</div>

<!-- View All services-->
<div class="view-all-button">
  <button type="button" class="btn btn-outline-primary">
    View All Services >
  </button>
</div>

<div class="heading-one">Why choose us?</div>
<div class="content-one">
  We work with some of the leading startups and enterprises around the world
</div>

<!--Highlighting points-->
<div class="choose-reason d-flex flex-wrap justify-content-around">
  <div>
    <img src="../../assets/right-arrow.svg" alt="right-arrow" />
    24*7 Live Support
  </div>
  <div>
    <img src="../../assets/right-arrow.svg" alt="right-arrow" />
    Multi-Language
  </div>
  <div>
    <img src="../../assets/right-arrow.svg" alt="right-arrow" />
    Good Client Experience
  </div>
  <div>
    <img src="../../assets/right-arrow.svg" alt="right-arrow" />
    Free Consultation
  </div>
  <div>
    <img src="../../assets/right-arrow.svg" alt="right-arrow" />
    Instant Response
  </div>
</div>

<!-- Customer contact-->
<div class="support row no-gutters ">
  <div class="col-9 d-flex flex-column justify-content-center">
    <div class="heading-two">
      Get 24*7 support for all your job needs & queries.
    </div>
    <div class="content-two">
      Professional associates standing by 24/7/365 to satisfy all your business
      needs.
    </div>
  </div>
  <div class="col-3 align-self-center">
    <button type="button" class="btn btn-success">Schedule a meeting</button>
  </div>
</div>

<div class="heading-one mt-5">Get in touch with us</div>
<div class="content-one">
  Now that we have spent some time together, let's connect further.
</div>

<!-- Forms-->
<div class="row no-gutters p-5 ">
  <div class="col-6 ">
    <form class="contact-form pr-5">
      <div class="form-group">
        <label for="companyName">Company name</label>
        <input
          type="text"
          class="form-control"
          id="companyName"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="form-group">
        <label for="serviceNeeded">Services Needed</label>
        <input type="text" class="form-control" id="serviceNeeded" />
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" id="description"></textarea>
      </div>
      <button type="button" class="btn btn-lg btn-outline-primary">
        Submit Response
      </button>
    </form>
  </div>
  <div class="col-6 contact-background"></div>
</div>

<!-- Address details-->
<div class="row no-gutters contact-details">
  <div class="col-6 d-flex flex-column">
    <img src="../../assets/emayyam.svg" alt="Emayyam" />
    <div class="address pt-4">
      <h6>Emayyam Infotech Private Limited</h6>
      <p>
        Hanudev Info Tech Park. S.F.No 559/4, Udayampalayam Rd, Udayampalayam,
        Coimbatore, Tamil Nadu - 641 028.
      </p>
    </div>
    <div class="mobile pt-2">
      <h6>+91-422-4213120</h6>
    </div>
    <div class="email pt-2">
      <h6>ganga@emayyaminfotech.com</h6>
    </div>
  </div>
  <div class="col-3 services d-flex flex-column">
    <h6>Home</h6>
    <h6>About Us</h6>
    <h6>Careers</h6>
    <h6>Contact Us</h6>
  </div>
  <div class="col-3 services d-flex flex-column">
    <h6>Services</h6>
    <p>Medical Services</p>
    <p>Coding</p>
    <p>E-Publishing</p>
    <p>Multi Language</p>
    <p>Data Entry</p>
    <p>OCR</p>
    <p>Proofing</p>
    <p>International Voice</p>
  </div>
  <div class="col-12 pt-5 services d-flex justify-content-end">
    <p>Copyright © 2019 Emayyam Infotech. All Rights Reserved</p>
  </div>
</div>
